input {
    flex:1;
    right: 100px;
    width: 220px;
    height: 20px;
    border: 0 ;
    outline: 0;
    font-size: 18px;
    border-radius: 8px;
    background:transparent;
   
  
   }
   
   button {
    background:transparent ;
    border: 0;
    outline: 0;
   }
   button .fa-solid{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
   }
  ::placeholder {
    color:#555;
  }
  
   
   .Search-box{
    width: 100px;
    margin: 200px auto 0;
  
   }
   .row{
    display: flex;
    position: absolute;
    right: 50px;
    border-radius: 5px;
    background: #fff;
    border-color: #050400;
    top: 100px;
    align-items: center;
    padding: 5px 5px;
   }
  
   .result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
    position: absolute;
    right: 130px;
    top:137px;
    width: 200px;
    background-color: #fff;
  
   }
   .result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
   }
  
   .result-box ul li:hover {
    background:#f6e9be;
  
   }